
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section title{
    Log In/Register
}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert-dev.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css">
<script>

    function redirect() {
        swal({
            title: "Successful!",
            text: "Thank you for Register! Please check your mail to activate your Account.",
            type: "success",
            confirmButtonText: "OK"
        },
            function (isConfirm) {
                if (isConfirm) {
                    window.location.href = "@ViewBag.DomainURL/UserActivationUI/Index";
                }
            });
    }
      function notactive() {
        swal({
            title: "Error!",
            text: "You are not activated your account, please activate your account",
            type: "error",
            confirmButtonText: "OK"
        },
            function (isConfirm) {
                if (isConfirm) {
                    window.location.href = "@ViewBag.DomainURL/UserActivationUI/Index";
                }
            });
    }
    function popup() {
        swal({
            title: "Successful!",
            text: "Thank you for Register! Please Check your mail.",
            icon: "success",
            button: "Ok",
        });
    }
    function popuperror() {
        swal("Oops", "Please provide proper Email Address !", "error")
    }
    function popupservererror() {
        swal({
            title: "Server Error!",
            text: "Server error ! Try again later.",
            icon: "error",
            button: "Ok",
        });

    }
    function popupvalidation() {
        swal({
            title: "Error!",
            text: "Your user details already exits you can login.",
            icon: "error",
            button: "Ok",
        });
    }

</script>

<section class="login-page" style="background-image: url(../Content/main-assets/images/banner.png);">

    <img class="img2" src="../Content/main-assets/images/banner-shape.png" alt="">
    <div class="login-wrap">
        <div class="login-decp">
            <ul class="nav" role="tablist">
                <li>
                    <a class="active" data-toggle="tab" href="#tabs-1" role="tab">Login</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#tabs-2" role="tab">Register</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tabs-1" role="tabpanel">
                    @using (Html.BeginForm("btn_Login_click", "LoginUI", FormMethod.Post, new { id = "submitform1", enctype = "multipart/form-data" }))
                    {
                        <form action="">
                            <label for="">Username/Email</label>
                            <input type="text" name="txtemail" id="txtemail" placeholder="User name">
                            <label for="">Password</label>
                            <input type="password" name="txtpass" id="txtpass" placeholder="Password">
                            <input type="submit" id="btn_Login" name="btn_Login_click" value="Login">
                            <a href="/ForgotPasswordUI/Index">Forgot Password</a>
                        </form>
                    }
                </div>
                <div class="tab-pane" id="tabs-2" role="tabpanel">
                    @using (Html.BeginForm("btn_Register_click", "LoginUI", FormMethod.Post, new { id = "submitform1", enctype = "multipart/form-data" }))
                    {

                        <div class="new-customers">
                            <h3>NEW CUSTOMERS</h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <!-- <input type="text" class="custom-form" placeholder="First Name" /> -->
                                    <div class="form-group name-group">
                                        <div class="palceholder" style="display: block;">
                                            <label for="name">First Name</label>
                                            <em class="star1">*</em>
                                        </div>
                                        <input type="text" class="form-control" id="txt_First_Name" name="txt_First_Name" required="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <!-- <input type="text" class="custom-form" placeholder="Last Name" /> -->
                                    <div class="form-group name-group">
                                        <div class="palceholder" style="display: block;">
                                            <label for="name">Last Name</label>
                                            <em class="star1">*</em>
                                        </div>
                                        <input type="text" class="form-control" id="txt_Last_Name" name="txt_Last_Name" required="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group name-group">
                                        <div class="palceholder" style="display: block;">
                                            <label for="name">Address</label>
                                            <em class="star1">*</em>
                                        </div>
                                        <input type="text" class="form-control" id="txt_Address" name="txt_Address" value="" required="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group name-group">
                                        <div class="palceholder" style="display: block;">
                                            <label for="name">City</label>
                                            <em class="star1">*</em>
                                        </div>
                                        <input type="text" class="form-control" id="txt_City" name="txt_City" required="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group name-group">
                                        <div class="palceholder" style="display: block;">
                                            <label for="name">Country</label>
                                            <em class="star1">*</em>
                                        </div>
                                        <input type="text" class="form-control" id="txt_Country" name="txt_Country" required="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group name-group">
                                        <div class="palceholder" style="display: block;">
                                            <label for="name">Phone Number</label>
                                            <em class="star1">*</em>
                                        </div>
                                        <input type="text" class="form-control" id="txt_Phone" name="txt_Phone" required="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group name-group">
                                        <div class="palceholder" style="display: block;">
                                            <label for="name">PIN Code</label>
                                            <em class="star1">*</em>
                                        </div>
                                        <input type="text" class="form-control" id="txt_Pin" name="txt_Pin" required="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group name-group">
                                        <div class="palceholder" style="display: block;">
                                            <label for="name">Email</label>
                                            <em class="star1">*</em>
                                        </div>
                                        <input type="text" class="form-control" id="txt_Email" name="txt_Email" required="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group name-group">
                                        <div class="palceholder" style="display: block;">
                                            <label for="name">Password</label>
                                            <em class="star1">*</em>
                                        </div>
                                        <input type="text" class="form-control" id="txt_Password" name="txt_Password" required="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group name-group">
                                        <div class="palceholder" style="display: block;">
                                            <label for="name">Confirm Password</label>
                                            <em class="star1">*</em>
                                        </div>
                                        <input type="text" class="form-control" id="txt_CPassword" name="txt_CPassword" required="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <!-- <input class="btn btnContact" type="submit" value="Clear"> -->
                                </div>
                                <div class="col-md-6">
                                    <!-- <input type="submit" class="custom-form custom-submit no-margin" value="register" /> -->
                                    <input class="btn btnContact" type="submit" value="Register">
                                </div>
                            </div>
                        </div>

                                    }
                </div>
            </div>
        </div>

    </div>

</section>


<section class="common-logo-sec">
    <ul>
        <li><a href="#"><img src="~/Content/main-assets/images/ab-img1.svg" alt=""></a></li>
        <li><a href="#"><img src="~/Content/main-assets/images/ab-img2.svg" alt=""></a></li>
        <li><a href="#"><img src="~/Content/main-assets/images/ab-img3.svg" alt=""></a></li>
    </ul>
</section>


@if (TempData["JavaScriptMsg"] != null)
{

    <script type="text/javascript">
                    @Html.Raw(TempData["JavaScriptMsg"]);
    </script>
}