
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section title{
    Log In
}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert-dev.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css">

<section class="login-page" style="background-image: url(../Content/main-assets/images/banner.png);">

    <img class="img2" src="../Content/main-assets/images/banner-shape.png" alt="">
    <div class="login-wrap">
        <div class="login-decp">
           
            <div class="tab-content">
                <div class="tab-pane active" id="tabs-1" role="tabpanel">
                
                        <div class="registered-customers">
                            <h3>Verify Your Account</h3>
                            <div class="registered">
                                <p>Enter OTP</p>
                                @using (Html.BeginForm("btn_verify_Click", "UserActivationUI", FormMethod.Post, new { id = "submitloginform", enctype = "multipart/form-data" }))
                                {
                                    <div class="row">
                                        <div class="col-md-12">

                                            <div class="form-group name-group">
                                               
                                                <input type="text" class="form-control" id="txt_otp" palceholder="Enter OTP" name="txt_otp" value="@ViewBag.txt_otp">
                                            </div>
                                        </div>
                                    </div>

                                    <button class="btn brown-btn center-btn " type="submit" id="btn_verify" name="btn_verify_Click" formaction="@Url.Action("btn_verify_Click")" formmethod="post">Verify OTP</button>
                                }
                                @using (Html.BeginForm("btn_resend_Click", "UserActivationUI", FormMethod.Post, new { id = "submitloginform", enctype = "multipart/form-data" }))
                                {
                                    <button class="btn resendotp" type="submit" id="btn_resend" name="btn_resend_Click" formaction="@Url.Action("btn_resend_Click")" formmethod="post"><i class="fas fa-sync-alt"></i> Resend OTP</button>
                                }
                            </div>
                        </div>
                   
                </div>
                
            </div>
        </div>

    </div>

</section>


<section class="common-logo-sec">
    <ul>
        <li><a href="#"><img src="~/Content/main-assets/images/ab-img1.svg" alt=""></a></li>
        <li><a href="#"><img src="~/Content/main-assets/images/ab-img2.svg" alt=""></a></li>
        <li><a href="#"><img src="~/Content/main-assets/images/ab-img3.svg" alt=""></a></li>
    </ul>
</section>
