@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section title{
    Diecast Decals - No 1. Decals In Here
}
@model MyApp.Entity.EntityJavaScriptPopulate

@section script{
    <script src="~/Content/main-assets/js/vendor/jquery-1.12.4.min.js"></script>
}

<script>
    function checkboxcategory() {

        var checkboxelement = document.getElementsByName("MainCATG");
      
        var count = 0;
   
        for (var i = 0; i < checkboxelement.length; i++) {
          
            if (checkboxelement[i].checked) {
              
                if (count == 0) {
                
                    document.getElementById("catgvalue").value = checkboxelement[i].value;
                    
                }
                else {
                    document.getElementById("catgvalue").value = document.getElementById("catgvalue").value + ',' + checkboxelement[i].value;
                }

                count++;

            }
        }

        $.ajax({
            url: '/ProductListUI/filter',
            data: "{categorykey: '" + document.getElementById("catgvalue").value + "'}",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                if (data.d != 0) {

                
                    document.getElementById("productpopulate").innerHTML = data.PRODUCT_LIST;
                    document.getElementById("catg_list").innerHTML = data.CATEGORY_LIST;


                    document.getElementById("catgvalue").value = "0";
                }
                else {
                    alert("Sorry!!! some error occured");
                }
            },
            error: function (response) {
                console.log(response.responseText);
            },

            failure: function (response) {
                console.log(response.responseText);
            }

        });


    }
    function checkboxsubcategory() {

        var checkboxelement = document.getElementsByName("SubCATG");

        var count = 0;

        for (i = 0; i < checkboxelement.length; i++) {
            if (checkboxelement[i].checked) {

                if (count == 0) {
                    document.getElementById("catgvalue").value = checkboxelement[i].value;
                }
                else {
                    document.getElementById("catgvalue").value = document.getElementById("catgvalue").value + ',' + checkboxelement[i].value;
                }

                count++;

            }
        }

        $.ajax({
            url: '/ProductListUI/Subfilter',
            data: "{categorykey: '" + document.getElementById("catgvalue").value + "'}",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                if (data.d != 0) {

                    if (document.getElementById("catgvalue").value == "0") {
                        checkboxcategory();
                    }
                    else {

                        document.getElementById("productpopulate").innerHTML = data.PRODUCT_LIST;
                        document.getElementById("catg_list").innerHTML = data.CATEGORY_LIST;

                        document.getElementById("catgvalue").value = "0";
                    }

                }
                else {
                    alert("Sorry!!! some error occured");
                }
            },
            error: function (response) {
                console.log(response.responseText);
            },

            failure: function (response) {
                console.log(response.responseText);
            }

        });


    }
    function checkboxsubsubcategory() {

        var checkboxelement = document.getElementsByName("SubSubCATG");

        var count = 0;

        for (i = 0; i < checkboxelement.length; i++) {
            if (checkboxelement[i].checked) {

                if (count == 0) {
                    document.getElementById("catgvalue").value = checkboxelement[i].value;
                }
                else {
                    document.getElementById("catgvalue").value = document.getElementById("catgvalue").value + ',' + checkboxelement[i].value;
                }

                count++;

            }
        }

        $.ajax({
            url: '/ProductListUI/SubSUbfilter',
            data: "{categorykey: '" + document.getElementById("catgvalue").value + "'}",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                if (data.d != 0) {

                    document.getElementById("productpopulate").innerHTML = data.PRODUCT_LIST;
                    document.getElementById("catg_list").innerHTML = data.CATEGORY_LIST;


                    document.getElementById("catgvalue").value = "0";
                }
                else {
                    alert("Sorry!!! some error occured");
                }
            },
            error: function (response) {
                console.log(response.responseText);
            },

            failure: function (response) {
                console.log(response.responseText);
            }

        });


    }


</script>


<!-- Start featured product -->
<div class="featured-product-area margin-top-60">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-3 order-md-1 order-2">
                <div class="shop-categori-area">
                    <div class="sidebar-menu-title">
                        <h2><i class="fa fa-th-list"></i>Catalog</h2>
                    </div>
                    <input type="hidden" name="catgvalue" id="catgvalue" value="@ViewBag.categoryhf"/>

                    <div class="shop-categori">
                        <div class="shop-categori-inner">
                            <!-- Start Categori -->
                            <div class="categoris categori-border">
                                @*<span class='cat-title'>Categories</span>*@



                                <span class="cat-title">Categories</span>
                                <ul id="catg_list">
                                    @Html.Raw(ViewBag.category)
                                 
                                </ul>

                            </div>
                            <!-- End Categori -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-lg-9 order-md-2 order-1">
                <div id="content-shop" class="categori-content">

                    <!-- Start catagori short -->
                    <div class="catagori-short">
                        <h2 class="cat-ttl">Search Result</h2>
                        <div class="chose-box">
                            <p class="selector1 hidden-xs">
                                <label>Sort by</label>
                                <select class="selectProductSort form-control" id="selectProductSort1">
                                    <option selected="selected" value="position:asc">--</option>
                                    <option value="price:asc">Low to High</option>
                                    <option value="price:desc">High to Low</option>
                                    <option value="quantity:desc">In stock</option>
                                </select>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row" id="productpopulate">
                    @Html.Raw(ViewBag.Products)

                    @*<embed src="~/documents/product/a4_hot_wheels_and_treasure_hunts.ai" type="application/ai" height="300px" width="100%" class="responsive">
                        <a href="study/sample.pdf">download</a>*@
                    <!-- Start featured item -->
                    <!--<div class='col-lg-3 col-md-6 col-sm-6 margin-bottom-30'>
                        <div class="featured-inner">
                            <div class="featured-image">
                                <a href="product-new.html">
                                    <img src="~/Content/main-assets/img/prod-img.jpg" alt="">
                                </a>
                            </div>
                            <div class="featured-info">
                                <a href="product-new.html">Von Fink</a>
                                <p class="reating">
                                    <span class="rate">
                                        <i class="fa fa-star rated"></i>
                                        <i class="fa fa-star rated"></i>
                                        <i class="fa fa-star rated"></i>
                                        <i class="fa fa-star rated"></i>
                                        <i class="fa fa-star rated"></i>
                                    </span>
                                </p>
                                <div class="featured-button">
                                    <span class="price">$16.51</span>


                                    <a href="cart.html" class="add-to-card"><i class="fa fa-shopping-cart"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>-->
                    <!-- End featured item -->
                    <!-- Start featured item -->
                    <!--<div class="col-lg-3 col-md-6 col-sm-6 margin-bottom-30">
                        <div class="featured-inner">
                            <div class="featured-image">
                                <a href="product-new.html">
                                    <img src="~/Content/main-assets/img/prod-img.jpg" alt="">
                                </a>
                            </div>
                            <div class="featured-info">
                                <a href="product-new.html">Von Fink</a>
                                <p class="reating">
                                    <span class="rate">
                                        <i class="fa fa-star rated"></i>
                                        <i class="fa fa-star rated"></i>
                                        <i class="fa fa-star rated"></i>
                                        <i class="fa fa-star rated"></i>
                                        <i class="fa fa-star rated"></i>
                                    </span>
                                </p>
                                <div class="featured-button">
                                    <span class="price">$16.51</span>


                                    <a href="cart.html" class="add-to-card"><i class="fa fa-shopping-cart"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>-->
                    <!-- End featured item -->
                    <!-- Start featured item -->
                    <!--<div class="col-lg-3 col-md-6 col-sm-6 margin-bottom-30">
                        <div class="featured-inner">
                            <div class="featured-image">
                                <a href="product-new.html">
                                    <img src="~/Content/main-assets/img/prod-img.jpg" alt="">
                                </a>
                            </div>
                            <div class="featured-info">
                                <a href="product-new.html">Von Fink</a>
                                <p class="reating">
                                    <span class="rate">
                                        <i class="fa fa-star rated"></i>
                                        <i class="fa fa-star rated"></i>
                                        <i class="fa fa-star rated"></i>
                                        <i class="fa fa-star rated"></i>
                                        <i class="fa fa-star rated"></i>
                                    </span>
                                </p>
                                <div class="featured-button">
                                    <span class="price">$16.51</span>


                                    <a href="cart.html" class="add-to-card"><i class="fa fa-shopping-cart"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>-->
                    <!-- End featured item -->
                    <!-- Start featured item -->
                    <!--<div class="col-lg-3 col-md-6 col-sm-6 margin-bottom-30">
                        <div class="featured-inner">
                            <div class="featured-image">
                                <a href="product-new.html">
                                    <img src="~/Content/main-assets/img/prod-img.jpg" alt="">
                                </a>
                            </div>
                            <div class="featured-info">
                                <a href="product-new.html">Von Fink</a>
                                <p class="reating">
                                    <span class="rate">
                                        <i class="fa fa-star rated"></i>
                                        <i class="fa fa-star rated"></i>
                                        <i class="fa fa-star rated"></i>
                                        <i class="fa fa-star rated"></i>
                                        <i class="fa fa-star rated"></i>
                                    </span>
                                </p>
                                <div class="featured-button">
                                    <span class="price">$16.51</span>


                                    <a href="cart.html" class="add-to-card"><i class="fa fa-shopping-cart"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>-->
                    <!-- End featured item -->
                    <!-- Start featured item -->
                    <!--<div class="col-lg-3 col-md-6 col-sm-6 margin-bottom-30">
                        <div class="featured-inner">
                            <div class="featured-image">
                                <a href="product-new.html">
                                    <img src="~/Content/main-assets/img/prod-img.jpg" alt="">
                                </a>
                            </div>
                            <div class="featured-info">
                                <a href="product-new.html">Von Fink</a>
                                <p class="reating">
                                    <span class="rate">
                                        <i class="fa fa-star rated"></i>
                                        <i class="fa fa-star rated"></i>
                                        <i class="fa fa-star rated"></i>
                                        <i class="fa fa-star rated"></i>
                                        <i class="fa fa-star rated"></i>
                                    </span>
                                </p>
                                <div class="featured-button">
                                    <span class="price">$16.51</span>

                                    <a href="cart.html" class="add-to-card"><i class="fa fa-shopping-cart"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>-->
                    <!-- End featured item -->
                    <!-- Start featured item -->
                    <!--<div class="col-lg-3 col-md-6 col-sm-6 margin-bottom-30">
                        <div class="featured-inner">
                            <div class="featured-image">
                                <a href="product-new.html">
                                    <img src="~/Content/main-assets/img/prod-img.jpg" alt="">
                                </a>
                            </div>
                            <div class="featured-info">
                                <a href="product-new.html">Von Fink</a>
                                <p class="reating">
                                    <span class="rate">
                                        <i class="fa fa-star rated"></i>
                                        <i class="fa fa-star rated"></i>
                                        <i class="fa fa-star rated"></i>
                                        <i class="fa fa-star rated"></i>
                                        <i class="fa fa-star rated"></i>
                                    </span>
                                </p>
                                <div class="featured-button">
                                    <span class="price">$16.51</span>


                                    <a href="cart.html" class="add-to-card"><i class="fa fa-shopping-cart"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>-->
                    <!-- End featured item -->
                    <!-- Start featured item -->
                    <!--<div class="col-lg-3 col-md-6 col-sm-6 margin-bottom-30">
                        <div class="featured-inner">
                            <div class="featured-image">
                                <a href="product-new.html">
                                    <img src="~/Content/main-assets/img/prod-img.jpg" alt="">
                                </a>
                            </div>
                            <div class="featured-info">
                                <a href="product-new.html">Von Fink</a>
                                <p class="reating">
                                    <span class="rate">
                                        <i class="fa fa-star rated"></i>
                                        <i class="fa fa-star rated"></i>
                                        <i class="fa fa-star rated"></i>
                                        <i class="fa fa-star rated"></i>
                                        <i class="fa fa-star rated"></i>
                                    </span>
                                </p>
                                <div class="featured-button">
                                    <span class="price">$16.51</span>


                                    <a href="cart.html" class="add-to-card"><i class="fa fa-shopping-cart"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>-->
                    <!-- End featured item -->
                    <!-- Start featured item -->
                    <!--<div class="col-lg-3 col-md-6 col-sm-6 margin-bottom-30">
                        <div class="featured-inner">
                            <div class="featured-image">
                                <a href="product-new.html">
                                    <img src="~/Content/main-assets/img/prod-img.jpg" alt="">
                                </a>
                            </div>
                            <div class="featured-info">
                                <a href="product-new.html">Von Fink</a>
                                <p class="reating">
                                    <span class="rate">
                                        <i class="fa fa-star rated"></i>
                                        <i class="fa fa-star rated"></i>
                                        <i class="fa fa-star rated"></i>
                                        <i class="fa fa-star rated"></i>
                                        <i class="fa fa-star rated"></i>
                                    </span>
                                </p>
                                <div class="featured-button">
                                    <span class="price">$16.51</span>


                                    <a href="cart.html" class="add-to-card"><i class="fa fa-shopping-cart"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>-->
                    <!-- End featured item -->

                </div>

            </div>


        </div>
    </div>
</div>
<!-- End featured product -->
<script src="~/Content/main-assets/js/vendor/jquery-1.12.4.min.js"></script>

@if (TempData["JavaScriptMsg"] != null)
{

    <script type="text/javascript">
                    @Html.Raw(TempData["JavaScriptMsg"])
    </script>

}
<script>
    function showulli(id) {
      
      //  $("#" + id + "").click(function () {
     
        $("#" + id + "").next("ul").toggle("slow");
        $("#" + id + "").toggleClass("clickedcat");
        //});

    }
    
</script>