
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section title{
    Reset Password
}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert-dev.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css">
<script>


    function popup() {
        swal({
            title: "Successful!",
            text: "Password reset successfully !! Please Login.",
            icon: "success",
            confirmButtonText: "Ok",
        },

        function (isConfirm) {
            if (isConfirm) {
                window.location.href = "@ViewBag.DomainURL/LoginUI/Index";
            }
        });
    
    }
    function popuperror() {
        swal("Oops", "Please provide proper Email Address !", "error")
    }
    function popupservererror() {
        swal({
            title: "Error!",
            text: "New password and confirm password dosenot match.Please try again",
            icon: "error",
            button: "Ok",
        });

    }

</script>
<section class="login-page" style="background-image: url(../Content/main-assets/images/banner.png);">

    <img class="img2" src="../Content/main-assets/images/banner-shape.png" alt="">
    <div class="login-wrap">
        <div class="login-decp">

            <div class="tab-content">
                <div class="tab-pane active" id="tabs-1" role="tabpanel">

                    <div class="tab-pane" id="tabs-1" role="tabpanel">
                        @using (Html.BeginForm("btn_Resetpass_click", "ResetPasswordUI", FormMethod.Post, new { id = "submitform", enctype = "multipart/form-data" }))
                        {
                            <form action="">

                                <label for="">New Password</label>
                                <input type="password" name="npassword" id="npassword" placeholder="Password">
                                <label for="">Confirm Password</label>
                                <input type="password" name="cpassword" id="cpassword" placeholder="Confirm Password">
                                <input type="submit" id="btn_Resetpass" name="btn_Resetpass_click" value="Reset Password">
                            </form>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>


<section class="common-logo-sec">
    <ul>
        <li><a href="#"><img src="~/Content/main-assets/images/ab-img1.svg" alt=""></a></li>
        <li><a href="#"><img src="~/Content/main-assets/images/ab-img2.svg" alt=""></a></li>
        <li><a href="#"><img src="~/Content/main-assets/images/ab-img3.svg" alt=""></a></li>
    </ul>
</section>
@if (TempData["JavaScriptMsg"] != null)
{

    <script type="text/javascript">
         @Html.Raw(TempData["JavaScriptMsg"]);
    </script>
}