
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section title{
    Diecast Decals - No 1. Decals In Here
}

@section script{
    <script src="~/Content/main-assets/js/vendor/jquery-1.12.4.min.js"></script>
}

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    function popupinvalidcode() {
        swal("Oops", "Invalid OTP !", "error")
    }

    function popup() {
        swal({
            title: "Successful!",
            text: "OTP resend successfully !! Please check your mail.",
            icon: "success",
            button: "Ok",
        });
    }
    function popuperror() {
        swal("Oops", "Please provide proper Email Address !", "error")
    }
    function popupservererror() {
        swal({
            title: "Server Error!",
            text: "Server error ! Try again later.",
            icon: "error",
            button: "Ok",
        });

    }

</script>

<div class="container-fluid margin-top-60 padding-top-60 padding-bottom-60">
    <!-- LOGIN-AREA START -->
    <div class="lognin-area">
        <div class="container">
            <div class="row">
                <!-- Registered-Customers Start -->
                <div class="col-lg-6 offset-lg-3 col-md-6 offset-md-3 ">
                    @using (Html.BeginForm("btn_verify_Click", "UserActivationUI", FormMethod.Post, new { id = "submitloginform", enctype = "multipart/form-data" }))
                    {
                        <div class="registered-customers">
                            <h3>Verify Your Account</h3>
                            <div class="registered">
                                <p>Enter OTP</p>
                                <div class="row">
                                    <div class="col-md-12">

                                        <div class="form-group name-group">
                                            <div class="palceholder">
                                                <label for="name">Enter OTP</label>
                                                <span class="star1">*</span>
                                            </div>
                                            <input type="text" class="form-control" id="txt_otp" name="txt_otp" value="@ViewBag.txt_otp">
                                        </div>
                                    </div>
                                </div>

                                <button class="btn btnContact" type="submit" name="otpcheck" formaction="@Url.Action("btn_verify_Click")" formmethod="post">Verify OTP</button>

                                <button class="btn btnContact" type="submit" name="otpcheck" formaction="@Url.Action("btn_resend_Click")" formmethod="post">Resend OTP</button>
                            </div>
                        </div>
                    }

                </div>
                <!-- Registered-Customers End -->
            </div>
        </div>
    </div>
    <!-- LOGIN-AREA END -->
</div>
<script type="text/javascript">

    function postmethodusingjs(id) {
        document.forms[id].submit();
        return false;
    }

    function postmethodusingheadsavejs() {
        document.forms["submitform"].submit();
        document.forms["submitloginform"].submit();
        return false;
    }
</script>
@if (TempData["JavaScriptMsg"] != null)
{

    <script type="text/javascript">
                    @Html.Raw(TempData["JavaScriptMsg"]);
    </script>
}